:root {
    --color-primary: #1d4ed8;
    --color-secondary: #047857;
    --color-bg: #0a101f;
    --color-bg-light: #111827;
    --color-text: #e0e7ff;
    --color-text-muted: #93c5fd;
    --color-border: #1e293b;
    --color-success: #16a34a;
    --color-danger: #dc2626;
    --color-warning: #d97706;
    --color-glow: rgba(29, 78, 216, 0.2);

    --bg-image: none;
    --bg-size: auto;
    --bg-animation: none;
}